body {
    background-color: rgba(174, 124, 58, 0.707);
}
h1 {
    text-align: center;
    font-style: italic;
}
.image-row {
    display: flex;
    justify-content: space-evenly;
}
p {
    text-align: center;
    font-size: large;
}
tr {
    background-color: lightgrey;
}
.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: black;
    text-transform:uppercase;
}
.navbar li a:hover {
    background-color: greenyellow;
}
.navbar ul li::after {
    content: '';
    height: 3px;
    width: 100%;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar2 {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}

.navbar2 ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar2 ul li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #fff;
    text-transform:uppercase;
}
.navbar2 li a:hover {
    background-color: green;
}
.navbar2 ul li::after {
    content: '';
    height: 3px;
    width: 100%;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
